.input-wrapper{
    gap: 10px;
    width: 450px;
    height: 100vh;
    background-color: #1E213A;
}
input{
    width: 230px;
    height: 48px;
    border: 0;
    border-radius: 3px;
    outline: none;
    padding-left: 10px;
    font-size: 16px;
    box-shadow:2px 2px 2px 2px #1E213A;
}

button{
    width: 86px;
    height: 48px;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    background-color: #3C47E9;
    color: white;
    margin-left: 10px;
    font-size: 14px;
    box-shadow:2px 2px 2px 2px #1E213A;
}
button:hover{
    background-color: #535ef0;
    transition: all 0.3s;
}
.input-box{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.input-city-name{
    font-size: 36px;
    padding: 0;
    margin: 0;
}
.temperature{
    padding: 0;
    margin: 0;
    font-size: 100px;
}
span{
    font-size: 60px;
}
::placeholder{
    color: #616475;

}
.detail-about-city{
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 130px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}
.condition{
    color: #A09FB1;
    font-weight: 600;
    font-size: 26px;
    line-height: 42px;
}
.date-container{
    width: 50%;
    height: auto;
    display: flex;
    justify-content: space-around;
    margin: auto;
    align-items: center;
    margin-top: 20px;
}
.today-text{
    color: #88869D;
    margin: 0;
    padding: 0;
    font-weight: 500;
    font-size: 18px;
}
.period{
    color: #88869D;
    font-weight: 500;
    font-size: 18px;
}