.information-container{
    background-color: #100E1D;
    width:100% ;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.city-name,.temp{
    margin: 0;
    padding: 15px;
    color: whitesmoke;
    font-size: 20px;
}
.name-container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.about-weather{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
p{
    color: whitesmoke;
    font-size: 20px;
}
.week-weather-container{
    max-width: 700px;
    width: 80%;
    height: 180px;
    background-color: #100E1D;
}
.detail-first-box{
    max-width: 700px;
    width: 90%;
    height: auto;
}
.highlights-text{
    padding: 0;
    margin: 0;
    color: #E7E7EB;
    font-weight: 700;
}
.highlights-first-div{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}
.highlights-second-div{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.wind-box{
    max-width: 328px;
    width: 100%;
    height: 204px;
    background-color: #1E213A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-radius: 1px;
}
.wind-box2{
    max-width: 328px;
    width: 100%;
    height: 169px;
    background-color: #1E213A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border-radius: 1px;
}
.wind-title{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #E7E7EB;
}
.wind-text{
    font-weight: 700;
    font-size: 60px;
    line-height: 75px;
    margin: 0;
    color: #E7E7EB;
}

@media(max-width:1050px){
    .highlights-first-div{
        flex-direction: column;
        align-items: center;
    }
    .highlights-second-div{
        flex-direction: column;
        align-items: center;
    }
    .information-container{
        height: auto;
    }
    .dayweather-wrapper{
        height: auto;
    }
    .input-wrapper{
        height: 870px;
    }
}
@media(max-width:764px){
    .dayweather-wrapper{
        flex-direction: column;
        height: auto;
    }
    .highlights-text{
        text-align: center;
        margin-top: 100px;
    }
    .input-wrapper{
        width: 100%;
        margin-top: 1000px;
    }
    input{
        height: 40px;
        width: 200px;
    }
    button{
        height: 43px;
        width: 80px;
    }
}